<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Расписание</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <button ion-button (click)="goHello()">SomeTextHere</button> -->
  <ion-list no-lines no-padding>
    <ion-slides>
      <ion-slide *ngFor="let d of daysArray">
        <h1>{{d.day}}</h1>
        <ion-item>
          <ion-card *ngFor="let s of d.subjects">
            <ion-card-title>
              <ion-item>{{s.subject}}</ion-item>
              <ion-item>{{s.teacher}}</ion-item>
            </ion-card-title>
            <ion-card-content>
              <ion-col col-4>
                {{s.timeStart}}
              </ion-col>
              <ion-col col-8>
                Аудитория: {{s.lectureHall}}
              </ion-col>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-slide>
    </ion-slides>
  </ion-list>
</ion-content>
